.about-us-page-container {
  margin-top: 2.9em;
  min-height: 94vh;
  padding: 1em;
  display: grid;
  grid-template-columns: 0.2fr 2fr 0.2fr;
}

.company-wrapper{
  min-height: 400px;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.card-box{
  margin: 2em;
  padding: 2em;
}

.card-box > h1{
  font-weight: 400;
  font-variant-caps: all-small-caps;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card-box>p {
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.company-wrapper>.box{
  width: 300px;
  margin: 2em;
  padding: 2em;
}

.company-wrapper:nth-child(even)>.card-box {
  grid-column: 2;
}

.company-wrapper:nth-child(even)>.box {
  grid-column: 1;
  grid-row: 1;
}