.add-package-info-container{
    min-height: 93vh;
    width: 100%;
    margin: 2.9em 0 5px 0;
    display: grid;
    grid-template-columns: 2em auto 2em;
    grid-template-rows: 2em repeat(3, auto) 2em;
}

.choose-file-wrapper>input[type='file']{
    font-variant-caps: all-small-caps;
    padding: 0;
}

.add-package-form-wrapper{
    margin: 1em 0 1em 0;
    height: 100%;
    grid-row: 3;
    grid-column: 2;
    display: flex;
    justify-content: center;
    font-variant-caps: all-small-caps;
}

.new-package-info-form{
    display: flex;
    flex-direction: column;
}

.new-package-info-form>p{
    margin: 10px 0 0 0;
}

.new-package-info-form>input{
    font-variant-caps: all-small-caps;
    padding: 5px;
    margin: 5px 0 5px 0;
    border: 0;
    outline: none;
    box-shadow: -5px 5px 0 -4px #000, 5px 5px 0 -4px #000;
    font-size: 11px;
    font-weight: 300;
    width: 100%;
}

.new-package-info-form>textarea{
    resize: none;
    font-variant-caps: all-small-caps;
    padding: 5px;
    margin: 5px 0 5px 0;
    height: 8em;
    width: 100%;
}

.new-package-info-form>button{
    margin: 1em 0 1em 0;
    padding: 5px;
    width: 107.55%;
    background-color: black;
    color: white;
    font-variant-caps: all-small-caps;
}