#customer-information-container {
  min-height: 94vh;
  margin: 2.9em 0 5px 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 1em auto 1em;
  grid-template-rows: 1em 18% 14% 60% 1em;
  justify-items: center;
  align-items: center;
}

#customer-information-img-container {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: center;
}

#customer-information-img-container > img {
  width: 60%;
  height: auto;
}

#customer-information-header-text {
  text-align: center;
  width: 35vw;
  grid-column: 2;
  grid-row: 3;
}

#customer-information-header-text > h1 {
  padding-bottom: 0.1em;
  font-size: 32px;
  font-weight: 400;
  font-variant-caps: all-small-caps;
}

#customer-information-header-text > p {
  padding-top: 0.5em;
  font-style: italic;
}

.customer-information-header-text > hr {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  margin: 5px 0 5px 0;
}

#customer-information-form-container {
  grid-column: 2;
  grid-row: 4;
  padding-top: 5vh;
  align-self: start;
  justify-self: center;
}

.form-wrap-customer-cart{
  display: flex;
}

.form-wrap-customer-cart > form > div {
  padding-bottom: 20px;
}

.form-wrap-customer-cart > form > div > label,
.form-wrap-customer-cart > form > label{
  font-variant-caps: all-small-caps;
}

.form-wrap-customer-cart > form > label>p{
  display: inline-block;
  font-size: 18px;
  margin-bottom: 15px;
}

.form-wrap-customer-cart > form > div > label > input {
  display: grid;
  width: 30vw;
  padding: 6px 3px 3px 6px;
  margin: 5px;
  border: 0;
  outline: none;
  box-shadow: -5px 5px 0 -4px #000, 5px 5px 0 -4px #000;
  font-size: 12px;
}

#customer-information-orgnr {
  padding: 4px;
  margin: 4px;
}

.form-wrap-customer-cart > form > a {
  width: 30vw;
  padding: 5px;
}

#confirm-btn {
  grid-column: 2;
  grid-row: 4;
  margin: 5px;
  width: 30vw;
  height: 4vh;
  background-color: rgb(29, 29, 29);
  color: white;
  border: none;
  font-variant-caps: all-small-caps;
  padding: 5px;
}

@media screen and (max-width: 1080px) {
  #customer-information-img-container > img {
    width: 70vw;
  }

  #customer-information-header-text {
    width: 45vw;
  }

  .form-wrap-customer-cart > form > div > label > input {
    width: 40vw;
  }

  .form-wrap-customer-cart > form > a {
    width: 40vw;
  }

  #confirm-btn {
    width: 40vw;
  }
}

@media screen and (max-width: 880px) {
  #customer-information-header-text > h1 {
    font-size: x-large;
  }
}

@media screen and (max-width: 800px) {

  #customer-information-form-container {
    margin-left: 0;
  }

  #customer-information-img-container > img {
    width: 80vw;
  }

  #customer-information-header-text {
    width: 55vw;
  }

  .form-wrap-customer-cart > form > div > label > input {
    width: 50vw;
  }

  .form-wrap-customer-cart > form > a {
    width: 50vw;
  }

  #confirm-btn {
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {

  #customer-information-form-container {
    margin-left: 19%;
  }

  #customer-information-header-text {
    align-self: start;
  }

  #customer-information-header-text > h1 {
    font-size: large;
  }

  #customer-information-img-container > img {
    width: 90vw;
  }

  #customer-information-header-text {
    width: 55vw;
  }

  .form-wrap-customer-cart {
    padding-top: 0;
    align-self: start;
  }

  .form-wrap-customer-cart > form > div > label > input {
    width: 50vw;
  }

  .form-wrap-customer-cart > form > a {
    width: 50vw;
  }

  #confirm-btn {
    width: 50vw;
  }
}
