.header-container {
  margin-top: 2.9em;
  height: 30vh;
  background-color: #313131;
  display: grid;
  grid-template-columns: 1em auto auto 1em;
  color: white;
}

.img-header {
  grid-column: 3;
  width: 60%;
  justify-self: center;
  align-self: center;
}

.header-text-container {
  grid-column: 2;
  align-self: center;
  margin-left: 1em;
}

.h1-header {
  font-weight: normal;
  font-variant: all-small-caps;
  font-size: 45px;
}

.p-header {
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 1px;
  border-top: 1px solid white;
  padding-top: 1em;
  margin-top: 0.5em;
}

@media screen and (max-width: 812px) {
  .header-container {
    height: fit-content;
    background-color: #313131;
    display: grid;
    grid-row-gap: 1em;
    grid-template-rows: 1em repeat(2, auto) 1em;
    grid-template-columns: 1em auto 1em;
    color: white;
  }

  .header-text-container {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    text-align: center;
    margin-left: 0;
  }

  .img-header {
    grid-row: 3;
    grid-column: 2;
    width: 60%;
  }
}
