.user-info-container {
  grid-row: 2;
  grid-column: 2 / span 2;
  min-height: 40vh;
  display: grid;
  grid-template-rows: 30% 25% 15% 2em;
  grid-template-columns: 50% 50%;
  align-items: center;
  align-content: space-evenly;
}

#user-info-text-container > h1 {
  margin-bottom: 0.2em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-variant-caps: all-small-caps;
  font-size: 35px;
  font-weight: 400;
}

.userinfo-wrapper {
  display: flex;
  justify-content: space-between;
}

.userinfo-wrapper > p {
  padding-top: 0.5em;
  font-size: 12px;
}

#user-info-table {
  grid-row: 2;
  table-layout: fixed;
  text-align: left;
  border-collapse: collapse;
}

tr.user-row > td {
  padding-bottom: 0.7em;
  font-size: 12px;
}

td.user-info-text {
  width: 40%;
}

tr.user-row > td.edit-btn-column {
  align-self: start;
}

#log-out-btn {
  grid-column: 1;
  grid-row: 3;
  align-self: start;
}

#log-out-btn > button {
  height: 2.1em;
  width: 22vw;
  background-color: black;
  color: white;
  font-variant-caps: all-small-caps;
  font-weight: 400;
}

.profile-edit-btn {
  border: none;
  background-color: white;
}

.profile-edit-btn > svg {
  width: 1.5em;
  height: 1.5em;
}

.profile-img-logo {
  align-self: center;
  justify-self: center;
  grid-column: 2;
  grid-row: 2;
}

.profile-img-logo > img {
  width: 250px;
  height: 200px;
  object-fit: contain;
}

@media screen and (max-width: 960px) {
  td.user-info-text {
    width: 10em;
  }
}

@media screen and (max-width: 520px) {
  .user-info-container {
    grid-template-rows: repeat(3, auto) 1em;
    align-items: start;
    align-content: space-evenly;
    min-height: 0;
  }

  #user-info-text-container {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  }

  #user-info-text-container > h1 {
    font-size: medium;
  }

  #user-info-text-container > p {
    padding-top: 0.5em;
    font-size: 12px;
  }

  table#user-info-table > * {
    font-size: 12px;
  }

  .edit-btn > img {
    width: 50%;
  }

  #user-info-table {
    align-self: start;
    grid-column: 1;
    grid-row: 2;
  }

  #log-out-btn {
    align-self: end;
    grid-row: 3;
  }

  .profile-img-logo {
    display: none;
  }
}
