.admin-products-page-container{
    height: 95vh;
    margin: 2.9em 0 5px 0;
}

.admin-top-text-container {
    /*TODO endre høyden her for media query?*/
    height: 20vh;
    display: grid;
    grid-template-columns: 2em repeat(2, 1fr) 2em;
    align-content: center;
    justify-content: center;
}

.admin-products-table-specifications{
    display: grid;
    grid-template-columns: 2em auto repeat(5, 10%) 2em;
    grid-template-rows: repeat(2, auto);
}