#customer-information-container {
    min-height: 95vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-rows: 1em 10vh 15vh 65vh 1em;
    justify-items: center;
    align-items: center;
}

#customer-information-img-container {
    grid-row: 2;
    grid-column: 2;
}

#customer-information-img-container > img {
    width: 90vh;
    height: auto;
}

#customer-information-header-text {
    grid-column: 2;
    grid-row: 3;
}

#customer-information-form-container {
    grid-column: 2;
    grid-row: 4;
}

#confirm-btn {
    grid-column: 2;
    grid-row: 4;
}

