#delivery-information-container {
    min-height: 92vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-rows: 1em 18% 14% 63% 1em;
    justify-items: center;
    align-items: center;
}

#delivery-information-img-container {
    grid-row: 2;
    grid-column: 2;
}

#delivery-information-img-container > img {
    width: 65vw;
    height: auto;
}

#delivery-information-header-text {
    text-align: center;
    width: 35vw;
    grid-column: 2;
    grid-row: 3;
}

#delivery-information-header-text > h1 {
    padding-bottom: 0.1em;
}

#delivery-information-header-text > p {
    padding-top: 0.5em;
}

.delivery-information-header-text > hr {
    border: 1px solid black;
    border-top: none;
    margin: 5px 0 5px 0;
}

#delivery-information-form-container {
    padding-top: 5vh;
    align-self: start;
    grid-column: 2;
    grid-row: 4;
}

#delivery-information-form-container > form > div {
    padding-bottom: 20px;
}

#delivery-information-form-container > form > div > label > input {
    display: grid;
    width: 30vw;
    padding: 6px 3px 3px 6px;
    margin: 5px;
    border: 0;
    outline: none;
    box-shadow: -5px 5px 0 -4px #000, 5px 5px 0 -4px #000;
    font-size: 12px;
}

#delivery-information-form-container > form > a {
    width: 30vw;
    padding: 5px;
}

#confirm-btn {
    grid-column: 2;
    grid-row: 4;
    margin: 5px;
    width: 30vw;
    height: 4vh;
    background-color: rgb(29, 29, 29);
    color: white;
    border: none;
    font-variant-caps: all-small-caps;
    padding: 5px;
}

@media screen and (max-width: 1080px) {
    #delivery-information-img-container > img {
        width: 70vw;
    }

    #delivery-information-header-text {
        width: 45vw;
    }

    #delivery-information-form-container > form > div > label > input {
        width: 40vw;
    }

    #delivery-information-form-container > form > a {
        width: 40vw;
    }

    #confirm-btn {
        width: 40vw;
    }
}

@media screen and (max-width: 880px) {
    #delivery-information-header-text > h1 {
        font-size: x-large;
    }
}

@media screen and (max-width: 800px) {
    #delivery-information-img-container > img {
        width: 80vw;
    }

    #delivery-information-header-text {
        width: 55vw;
    }

    #delivery-information-form-container > form > div > label > input {
        width: 50vw;
    }

    #delivery-information-form-container > form > a {
        width: 50vw;
    }

    #confirm-btn {
        width: 50vw;
    }
}

@media screen and (max-width: 600px) {
    #delivery-information-header-text {
        align-self: start;
    }

    #delivery-information-header-text > h1 {
        font-size: large;
    }

    #delivery-information-img-container > img {
        width: 90vw;
    }

    #delivery-information-header-text {
        width: 55vw;
    }

    #delivery-information-form-container {
        padding-top: 0;
        align-self: start;
    }

    #delivery-information-form-container > form > div > label > input {
        width: 50vw;
    }

    #delivery-information-form-container > form > a {
        width: 50vw;
    }

    #confirm-btn {
        width: 50vw;
    }
}

