.page-container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar-container {
  grid-row: 1;
}

.content-container {
  grid-row: 2;
  height: 95vh;
}

.footer-container {
  grid-row: 3;
}