.form-container-login{
  margin-top: 2.9em;
  min-height:94vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.fix-login-placement-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5em;
}

#login-form-container{
  grid-column: 2;
}

.fix-login-placement-container>h3{
  text-align: center;
}

#login-form-container>form>p{
  font-variant-caps: all-small-caps;
  margin-left: 4px;
  margin-top: 5px;
}

#login-form-container > form > div > label > input {
  width: 20em;
  padding: 3px;
  margin: 5px;
  border: 0;
  outline: none;
  box-shadow: -5px 5px 0 -4px #000, 5px 5px 0 -4px #000;
  font-size: 11px;
  font-weight: 300;
}

#login-form-container > form > button,
#switch {
  margin: 5px;
  width: 17em;
  background-color: rgb(29, 29, 29);
  color: white;
  border: none;
  font-variant-caps: all-small-caps;
  padding: 5px;
}
