.productpage-container{
    min-height: 94vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1em repeat(2,auto) 1em;
    grid-template-columns: 20vw auto 20vw;
    grid-gap: 1em;
    background-color: #ECEDED;
}

.product-top-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-color: white;
    grid-column: 2;
    grid-row: 2;
    max-width: 100%;
    height: 20em;
    padding: 2em;
}

.product-top-right-container{
    display: grid;
    grid-template-rows: 20% 68% 12%;
}

.row-one-container>h3{
    font-size: 35px;
    margin-bottom: 0;
}

.tags-p{
    font-weight: 300;
    font-style: italic;
    font-size: 11px;
    margin-left: 2px;
}

.row-two-container>h4{
    font-variant-caps: all-small-caps;
    font-size: 20px;
    font-weight: 400;
}

.short-desc-p{
    border-top: 1px solid rgba(29, 29, 29, 0.2);
    margin: 5px 0 15px 0;
    padding-top: 5px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 13px;
    font-weight: 300;
}

.equipment-p{
    font-size: 11px;
    margin-top: 3px;
}

.equipment-p>span{
    font-weight: 300;
}

.add-product-to-cart-btn{
    background-color: rgb(0, 171, 102);
    color: white;
    border: 1px solid seagreen;

}

.product-bottom-wrapper{
    width: auto;
    min-height: 60vh;
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 1em;
}

.product-info-container{
    padding: 2em;
    background-color: white;
}

.product-info-container>h3{
    margin-bottom: 0;
}

.product-info-container>p{
    text-align: justify;
    text-justify: inter-word;
    font-weight: 300;
    border-top: 1px solid rgba(29, 29, 29, 0.2);
    margin-top: 1em;
    padding-top: 1em;
}

.product-bottom-right-wrapper{
    width: 100%;
    display: grid;
    grid-template-rows: 71.5% 25%;
    grid-row-gap: 1em;
}

.product-list-container{
    background-color: white;
    padding: 2em;
}

.product-list-container>p{
    border-top: 1px solid rgba(29, 29, 29, 0.2);
    padding-top: 1em;
    margin-top: 1em;
    font-weight: 300;
}

.owner-container {
    padding: 2em;
    background-color: white;
    height: auto;
}

@media screen and (max-width: 812px) {
    .productpage-container{
        grid-template-columns: 1em auto 1em;
    }
}