.footer-container {
  width: 100vw;
  height: 25vh;
  background-color: rgb(29, 29, 29);
  color: white;
  display: grid;
  grid-template-columns: 40% 20% 28% 12%;
}

h2 {
  font-size: small;
  font-weight: 400;
}

#about-us-title {
  font-weight: bold;
  font-size: large;
}

p {
  font-size: small;
}

.nav-links-container {
  height: 60%;
  width: 80%;
  margin-top: 2em;
  margin-left: 2em;
  display: grid;
  justify-content: stretch;
  border-top: 1px solid white;
}

.nav-links-item {
  height: 100%;
  border-bottom: 1px solid white;
}

.nav-links-item-text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-information-container {
  height: 60%;
  width: 90%;
  margin-top: 2em;
  margin-left: 2em;
  display: grid;
  grid-template-rows: 2fr repeat(5, 1fr);
  grid-row-gap: 5px;
  justify-content: stretch;
}

.about-us-container {
  height: 50%;
  width: 80%;
  margin-top: 2.4em;
  margin-bottom: 3em;
  margin-left: 2em;
  display: grid;
  grid-row-gap: 5px;
  justify-content: start;
}

.social-links-container {
  height: 25vh;
  width: 80%;
  display: grid;
  align-content: space-evenly;
}

.top-link {
  font-variant-caps: all-small-caps;
  justify-self: center;
  padding-right: 0.2em;
}

a,
a.clicked {
  color: white;
  text-decoration: none;
}

.social-media-image {
  justify-self: center;
}

.social-media-image > img {
  position: relative;
  left: 20%;
  max-width: 50%;
  height: auto;
}

@media screen and (max-width: 1080px) {
  .footer-container {
    grid-template-columns: 30% 25% 35% 10%;
  }

  .social-links-container {
    width: 100%;
  }
}

@media screen and (max-width: 840px) {
  .footer-container {
    grid-template-columns: 50% 35% 15%;
  }

  .about-us-container {
    display: none;
  }

  .social-links-container {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .footer-container {
    grid-template-columns: 40% 40% 20%;
  }

  .social-links-container {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .footer-container {
    grid-template-columns: 30% 45% 25%;
  }

  .nav-links-container {
    margin-left: 2em;
  }

  .social-links-container {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .footer-container {
    height: 200px;
    grid-template-columns: 30% 45% 25%;
    font-size: small;
  }

  .nav-links-container {
    margin-left: 2em;
  }

  .social-links-container {
    height: 100%;
    width: 100%;
  }

  .social-media-image > img {
    max-width: 60%;
  }
}

@media screen and (max-width: 460px) {
  .footer-container {
    grid-template-columns: 30% 45% 25%;
    font-size: small;
  }

  .nav-links-container {
    margin-left: 1em;
  }

  .social-links-container {
    height: 100%;
    width: 100%;
  }

  .social-media-image > img {
    max-width: 60%;
  }
}

@media screen and (max-width: 380px) {
  .footer-container {
    height: 175px;
    grid-template-columns: 30% 45% 25%;
    font-size: x-small;
  }

  .nav-links-container {
    margin-left: 1em;
  }

  .social-links-container {
    height: 100%;
    width: 100%;
  }

  .social-media-image > img {
    max-width: 50%;
  }
}
