.slide-container {
  height: 95vh;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.slide-wrapper {
  background-color: rgb(199, 161, 129);
}

.slide-container > img {
  justify-self: center;
  width: 50%;
}

.slide-title,
.slide-info {
  color: white;
  font-weight: 300;
}

.text-container {
  margin-right: 5%;
  justify-content: center;
}

.slide-title {
  font-variant-caps: all-small-caps;
  font-size: 50px;
  letter-spacing: 5px;
}

.slide-info {
  margin-top: 2%;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 2px;
}

.slide-info > span {
  margin-right: 2%;
}

#slide-two {
  background-color: #cc8d65;
}

#slide-three{
  background-color: #979F7E;
}

@media screen and (max-width: 768px) {
  .slide-container {
    flex-direction: column;
    justify-content: center;
  }

  .slide-container > img {
    width: 60%;
  }
}