.slide-container {
  height: 95vh;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.slide-wrapper {
  background-color: rgb(199, 161, 129);
}

.slide-container > img {
  width: 50%;
  margin-bottom: 2em;
  margin-right: 5em;
}

.slide-title,
.slide-info {
  color: white;
  font-weight: 300;
}

.text-container {
  margin-left: 4em;
  margin-right: 5em;
  padding-bottom: 5em;
  justify-content: center;
}

.slide-title {
  font-variant-caps: all-small-caps;
  font-size: 50px;
  letter-spacing: 5px;
}

.slide-info {
  margin-top: 2%;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 2px;
}

.slide-info > span {
  margin-right: 2%;
}

.swiper-pagination {
  padding-bottom: 2em;
}

#slide-two {
  background-color: #cc8d65;
}

#slide-three {
  background-color: #979f7e;
}

#slide-four {
  background-color: #b27979;
}

#slide-five {
  background-color: #517b9a;
}

#text-container-green {
  margin-left: 5em;
  justify-content: normal;
}

@media screen and (max-width: 812px) {
  .slide-container {
    flex-direction: column;
    justify-content: center;
  }

  .slide-container > img {
    width: 80%;
    margin-right: 0;
  }
  #text-container-green {
    margin-left: 0;
    text-align: center;
    justify-content: normal;
  }

  .text-container {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 5em;
    justify-content: center;
    text-align: center;
  }
}
