.su-new-package-page-container {
  min-height: 93vh;
  width: 100%;
  margin: 2.9em 0 5px 0;
  display: grid;
  grid-template-columns: 2em auto 2em;
  grid-template-rows: 2em repeat(3, auto) 2em;
}

.su-new-package-top-text-container {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
}

.su-new-package-top-text-container>h3{
  font-weight: 400;
  font-size: 30px;
}

.su-new-package-top-text-container>p{
  font-weight: 300;
  font-style: italic;
}

.su-new-package-img-container {
  grid-column: 2;
  display: flex;
  justify-content: center;
  margin: 2em 0 2em 0;
}

.su-new-package-img-container > img {
  width: 55%;
}

.su-new-package-drag-drop-container {
  margin: 1em 0 1em 0;
  height: 100%;
  grid-row: 3;
  grid-column: 2;
  display: flex;
  justify-content: space-evenly;
  font-variant-caps: all-small-caps;
}

#yourProducts>h2,
#productsAdded>h2{
  font-size: 20px;
  font-weight: 400;
}

.su-create-package-btn-container{
  grid-column: 2;
  grid-row: 4;
  display: flex;
  justify-content: center;
}

.su-create-package-btn-container>button{
  width: 10em;
  padding: 5px;
  color: white;
  background-color: black;
  font-variant-caps: all-small-caps;
  margin-top: 2em;
}

@media screen and (max-width: 840px){
  .su-create-package-btn-container>button{
    width: 20em;
    padding: 0;
    margin-top: 0;
  }
}
