.navbar-container{
    width: 100%;
    height: 3em;
    background-color: black;
    display: grid;
    grid-template-columns: 55% 30% 15%;
}

.nav-btn {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    text-align: center;
    height: 100%;
    grid-column: 2;
}

#logo-img{
    width: 30%;
}

#home-btn{
    grid-column: 1;
}

#cart-btn {
    display: grid;
    grid-template-rows: auto 1fr;
}

#cart-btn>img{
    grid-area: a;
    width: 20%;
}

#cart-btn>p{
    grid-area: b;
}

#login-btn>img{
    grid-area: c;
    width: 20%;
}